# secret keys
mysite/secret_key.txt
mysite/email_host_password.txt

# Python
*.pyc
*~
__pycache__
a.py

# Env
.env
.venv
myvenv/
venv/
env
*/env
tutorial/env

# Database
db.sqlite3
migrations/

# Static folder at project root
/static/
/media/images/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
