{% extends 'base.html' %}

{% block title %}<title>MakeYourBed - About</title>{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="grid-item-2">
    <h2 id="main-quote">"I tell a student that the most important class you can take is technique. A great chef is first a great technician. 'If you are a jeweler, or a surgeon or a cook, you have to know the trade in your hand. You have to learn the process. You learn it through endless repetition until it belongs to you."</h2>
    <p>Jacques Pépin</p>
</div>
<div class="grid-item-3"></div>
<div class="grid-item-4"></div>
<div class="grid-item-5">
    <h2 class="important">This website exists to encourage people to focus on the small, and daily tasks that build their positive habits</h2>
</div>
<div class="grid-item-6"></div>

{% endblock %}
