{% extends 'base.html' %}

{% block title %}

<title>MakeYourBed - Contact</title>

{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <h1>Contact</h1>
    
    <form action="" method="post">{% csrf_token %}
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required><br>

        <textarea name="body" id="body" cols="30" rows="10" required></textarea><br>

        <label for="email">Your Email - We will get back to you</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <input type="submit" id="send-message-btn" value="send message">
    </form>
    
    
{% endblock %}