<h1><a href="{% url 'home' %}">Make Your Bed In The Morning</a></h1>

    <!-- User sign up & Login -->
    {% if request.user.is_authenticated %}
        <h2>Welcome, {{request.user.username}}!
        <a href="{% url 'profile' request.user.pk %}">My Profile</a>
        <a href="{% url 'create' %}">Create a post</a>
        <a href="{% url 'logout' %}">Logout</a></h2>
    {% else %}
    <form action="{% url 'login' %}" method="post">{% csrf_token %}
        <strong>Login</strong>/ <strong>sign up</strong>
        <label for="username">username :</label>
        <input type="text" name="username" id="username" value="" required>

        <label for="password">password</label>
        <input type="password" name="password" id="password" value="" required>

        <input type="submit" name="loginuser" value="login">
        <input type="submit" name = "signupuser" value="signup">
    </form>
    {% endif %}
    <hr>
