{% extends 'base.html' %}

{% block title %}<title>Profile</title>{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <h1>
        {% if request.user.pk == user.pk %}
            My profile Page 
            <a href="{% url 'authenticate' request.user.pk %}">Edit</a>
        {% else %}
            {{user.username}}'s profile Page 
        {% endif %}       
    </h1>
    Username : {{user.username}} <br>
    Email : {{user.email}} <br>
    
    {% if request.user.pk == user.pk %}
    Password : <a href="{% url 'authenticate' request.user.pk %}">Change Password</a> <br>
    <hr>
    {% endif %}

    <!-- <h1>
        <form action="" method="post">{% csrf_token %}
            <label for="follow">Follow status</label>
            <select name="follow_status" id="follow">
                <option value="neutral">Neutral</option>
                <option value="follow">Follow</option>
                <option value="unfollow">Unfollow</option>
                <option value="blocked">Block</option>
            </select>

            <input type="submit" value="save"> <hr>
        </form>
    </h1> -->
    
    <h2>Post{{posts|pluralize}} '{{user.username}}' has written</h2>
    
    {% if request.user.pk == user.pk %}
        <ul>
            <li>
                {% for post in posts %}
                    <h3><a href="{% url 'detail' post.pk %}">{{post.title}}</a></h3><br>
                    <p>{{post.body}}</p>
                    {{post.created_date}} <hr>
                {% endfor %}
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                {{user.username}}'s some sample post{{posts|slice:":5"|pluralize}}...
                {% for post in posts|slice:":2" %}
                    <h3><a href="{% url 'detail' post.pk %}">{{post.title}}</a></h3><br>
                {% endfor %}
            </li>
        </ul>
    {% endif %}
{% endblock %}